@model MqttHome.MqttHomeController
@{
    ViewData["Title"] = "MQTT Home";
}
<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">MQTT Server (Connected: @Model.MqttCommunicator.Connected)</div>
        <div class="panel-body">
            <label>Server</label>
            @Model.MqttCommunicator.BrokerIpAddress : @Model.MqttCommunicator.BrokerPort
        </div>
    </div>
</div>

<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">Rules</div>
        <div class="panel-body">
            <div class="">
                <label>Defaults</label>
                <p>
                    <div>
                        <label>Flip Flop</label>
                        @Model.RuleEngine.Config.Defaults.FlipFlop
                    </div>
                    <div>
                        <label>Condition AND</label>
                        @Model.RuleEngine.Config.Defaults.ConditionAnd
                    </div>
                    <div>
                        <label>Condition OR</label>
                        @Model.RuleEngine.Config.Defaults.ConditionOr
                    </div>
                </p>
            </div>

            @foreach (var rule in Model.RuleEngine.Config.Rules)
            {
                <p>
                    <div><label>@rule.Name</label></div>
                    <div>
                        <label>Description</label>
                        @rule.Description
                    </div>
                    <div>
                        <label>Switch</label>
                        @rule.Switch
                    </div>
                    <div>
                        <label>Condition</label>
                        @rule.Condition
                    </div>
                    <div>
                        <label>Flip Flop</label>
                        @rule.FlipFlop
                    </div>
                </p>
            }
        </div>
    </div>
</div>

<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">Devices</div>
        <div class="panel-body">

            @foreach (var device in Model.MqttDevices)
            {
                <div class="col-sm-3">
                    <div class="panel panel-info">
                        <div class="panel-heading">@device.DeviceClass @device.Id</div>
                        <div class="panel-body">
                            <div>
                                <label>Type</label>
                                @device.DeviceType
                            </div>
                            <div>
                                <label>Sensor Data</label>
                                @device.SensorData
                            </div>
                            <div>
                                <label>MQTT Topics</label>
                                @Html.Raw(string.Join("<br />", device.AllTopics))
                            </div>
                            <div>
                                <label>Power On</label>
                                @device.PowerOn
                            </div>
                            @if (device.SensorData != null)
                            {
                                <div>
                                    <label>Data</label>
                                    @foreach (var pair in device.SensorData.ToDictionary())
                                    {
                                        <label>@pair.Key</label>
                                        @pair.Value
                                    }
                                </div>
                            }

                        </div>
                        <div class="panel-footer">
                            <a href="/switch/off/@device.Id" class="btn btn-primary btn-sm">Switch Off</a>
                            <a href="/switch/on/@device.Id" class="btn btn-primary btn-sm">Switch On</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<script type="text/javascript">
    setTimeout(function () { location.reload(); }, 5000)
</script>