@using MqttHome.Mqtt
@using MqttHome.Mqtt.Devices
@model MqttHome.MqttHomeController
<div class="panel panel-default">
    <div class="panel-heading">
        Sensor Devices
        @if (User.IsInRole("Admin"))
        {
            <a class="btn btn-xs btn-default pull-right" href="/editor/index/devices.json">Edit Devices</a>
        }
        </div>
    <div id="collapse-devices" class="panel-collapse collapse in">
        <div class="panel-body">

            @foreach (var device in Model.MqttDevices.Where(d => d is IMqttSensorDevice<ISensorData>))
            {
                var sensor = device as IMqttSensorDevice<ISensorData>;
                <div class="col-sm-4 col-lg-3">
                    <div class="panel panel-@(device.LastCommunication.HasValue ? "info" : "default")">
                        <div class="panel-heading">@device.FriendlyName</div>
                        <div class="panel-body">
                            <div>
                                <label>Last Contact</label>
                                @device.LastCommunication.GetPrettyDateHtml()
                            </div>
                            <div class="technical">
                                <label>Class</label>
                                @device.DeviceClass
                            </div>
                            <div class="@(sensor.SaveSensorValuesToDatabase ? "technical" : "")">
                                <label>Save Values to Database</label>
                                <span class="label label-@(sensor.SaveSensorValuesToDatabase ? "success" : "danger")">@(sensor.SaveSensorValuesToDatabase ? "Yes" : "No")</span>
                            </div>
                            <div class="technical">
                                <label>Type</label>
                                @device.DeviceType
                            </div>
                            <div class="technical">
                                <label>ID</label>
                                @device.Id
                            </div>
                            <div class="technical">
                                <label>MQTT Topics</label>
                                @Html.Raw(string.Join("<br />", device.AllTopics))
                            </div>

                            @if (device.LastCommunication.HasValue)
                            {
                                if (sensor.SensorValues != null)
                                {
                                    <div>
                                        <label>Sensor Data</label>
                                        @foreach (var pair in sensor.SensorValues)
                                        {
                                            <div>
                                                <label>@pair.Key</label>
                                                @pair.Value
                                            </div>
                                        }
                                    </div>
                                }
                            }

                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
